#flow-container {
	#googlepayAccordionContainer {
		border: 0;
	}
	#googlepayAccordionButton {
		display: none;
		& + div {
			height: fit-content !important;
			font-size: 0;
		}
	}
	#googlepayAccordionPanel {
		div {
			padding: 0;
		}
		& > div {
			padding: 0;
		}
		button#gpay-button-online-api-id,
		button.gpay-card-info-container {
			background: #0059da;
			outline: none;
			min-height: 48px;
			& > div {
				background: #0059da;
				outline: none;
			}
		}
		span[role="alert"] {
			display: none;
		}
	}
}
