html {
  font-size: 100px;
}
.flow-container-box {
  position: relative;
  border-radius: 0.06rem;
  /*overflow: hidden;
	height: 0.48rem;
	#flow-container {
		#googlepayAccordionContainer {
			border: 0;
		}
		#googlepayAccordionButton {
			display: none;
			& + div {
				height: fit-content !important;
				font-size: 0;
			}
		}
		#googlepayAccordionPanel {
			div {
				padding: 0;
			}
			& > div {
				padding: 0;
			}
			button#gpay-button-online-api-id,
			button.gpay-card-info-container {
				background: #0059da;
				outline: none;
				min-height: 48px;
				& > div {
					background: #0059da;
					outline: none;
				}
			}
			span[role="alert"] {
				display: none;
			}
		}
	}*/
}
.flow-container-box .flow-container-mask {
  display: none !important;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0059da;
  opacity: 1;
  cursor: pointer;
  pointer-events: none;
}
.flow-container-box .flow-container-mask:hover {
  background: #0052c9;
}
.flow-container-box .flow-container-mask:active {
  background: #004bb7;
}
.flow-container-box .flow-container-mask img {
  height: 0.18rem;
}
